* {
  margin: 0;
  padding: 0; }
header.header {
  height: 230px;
  background-color: #dcdcdc; }
  header.header nav.nav {
    margin: 0 auto;
    padding: 60px 0;
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header.header #phone {
    color: #767676;
    font-family: "Myriad Pro", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 1px; }

.main1 {
  background-size: cover;
  background: url("../img/main1_bg.png") no-repeat center center;
  height: 509px;
  overflow: hidden;}
  .main1 .main1_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 75px 358px 0 0; }
  .main1 h1 {
    color: #9da3d7;
    font-family: "Myriad Pro - Semibold",sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .main1 .form {
    width: 358px;
    height: 275px;
    background-color: #9da3d7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .main1 .form p {
      color: #ffffff;
      font-family: "Myriad Pro",sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      width: 313px;
      margin: 30px auto; }
    .main1 .form input.input {
      width: 260px;
      height: 49px;
      background-color: #ffffff;
      color: #767676;
      font-family: "Myriad Pro",sans-serif;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 20px;
      padding: 0 15px; }
    .main1 .form button.btn {
      width: 290px;
      height: 49px;
      background-color: #ffc087;
      color: #000000;
      font-family: "Myriad Pro",sans-serif;
      border: none;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      outline: none; }

.main2 {
  height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main2 h1#slide {
    color: #9da3d7;
    font-family: "Myriad Pro - Semibold",sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 40px 0 20px 0; }
  .main2 .wrapper {
    width: 733px;
    height: 329px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0.3% 0.1% 0 0.1%; }
  .main2 .slider {
    max-width: 98%;
    height: 97%;
    position: relative;
    margin: auto auto 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #b1e1a3; }
    .main2 .slider h1 {
      color: #2a2a41;
      font-size: 200px;
      margin-top: 30px;
      font-family: "Myriad Pro",sans-serif; }
  .main2 .slider-dots {
    text-align: center;
    position: relative;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto; }
  .main2 .slider-dots_item {
    cursor: pointer;
    width: 35px;
    height: 35px;
    -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.22);
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.22);
    border: 3px solid #dddddd;
    border-radius: 50%; }
  .main2 .active, .main2 .slider-dots_item:hover {
    background-color: #9da3d7; }

.main3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }
  .main3 h1 {
    color: #000000;
    font-family: "Myriad Pro - Semibold",sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center; }
  .main3 p {
    color: #000000;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 1000px; }

.main4 {
  width: 1000px;
  margin: 0 auto; }
  .main4 h1 {
    color: #9da3d7;
    font-family: "Myriad Pro - Semibold",sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 75px 0 40px 0; }
  .main4 .windows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .main4 .windows #paragraph1, .main4 .windows #paragraph2, .main4 .windows #paragraph3 {
      margin-top: 72px; }
  .main4 .window-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main4 p {
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 25px;
    cursor: pointer; }
    .main4 p:hover {
      color: #0099de;
      text-decoration: underline; }

.main5 {
  width: 1000px;
  margin: 40px auto;
  height: 513px;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.23), inset 1px 2px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.23), inset 1px 2px 6px rgba(0, 0, 0, 0.35);
  border-radius: 3%;
  border: 2px solid #e8e8e8; }
  .main5 .wrapper_end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main5 .window_content {
    width: 220px;
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main5 .window_content p {
      color: #636363;
      font-family: "Myriad Pro - Semibold It", sans-serif;
      font-size: 22px;
      font-weight: 400; }
    .main5 .window_content #width {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main5 .window_content #width p {
        margin-bottom: 20px; }
    .main5 .window_content #height {
      -webkit-transform: rotateZ(270deg);
      -ms-transform: rotate(270deg);
      transform: rotateZ(270deg);
      margin-top: 40px; }
  .main5 .params {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 280px;
    margin-left: 35px; }
    .main5 .params #x_param {
      margin: 0 25px;
      color: #0099de;
      font-family: "Myriad Pro",sans-serif;
      font-size: 35px;
      font-weight: 700;
      line-height: 37.1px; }
    .main5 .params p {
      color: #333333;
      font-family: "Myriad Pro", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 37.1px; }
    .main5 .params #width_param {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main5 .params #width_param h1 {
        border: 2px solid #a2a2a2;
        border-radius: 6px;
        width: 75px;
        height: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #5d5d5d;
        font-family: "Myriad Pro", sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 29.68px; }
    .main5 .params #height_param {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main5 .params #height_param h1 {
        border: 2px solid #a2a2a2;
        border-radius: 6px;
        width: 75px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 46px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #5d5d5d;
        font-family: "Myriad Pro", sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 29.68px; }
  .main5 .inputs_content {
    width: 500px;
    margin-right: 50px; }
  .main5 #radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px; }
    .main5 #radio label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .main5 #radio p {
      margin-right: 25px; }
    .main5 #radio input {
      margin-right: 5px;
      width: 16px;
      height: 16px; }
    .main5 #radio p {
      color: #000000;
      font-family: "Myriad Pro",sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 40px; }
  .main5 #KBE_window {
    color: #0099de;
    font-family: "Myriad Pro",sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 55px 0; }
  .main5 #window_open {
    color: #000000;
    font-family: "Myriad Pro - Semibold",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40.03px; }
  .main5 .select #arrow {
    background: url("../img/arrow_select.png");
    position: absolute;
    margin: 13px 0 0 315px;
    z-index: inherit;
    width: 27px;
    height: 21px; }
  .main5 .select select {
    width: 358px;
    height: 45px;
    border: 2px solid #aeaeae;
    outline: none;
    border-radius: 5px;
    padding: 0 25px 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Myriad Pro",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40.92px; }
    .main5 .select select option {
      height: 15px; }
  .main5 h2 {
    color: #000000;
    font-family: "Myriad Pro - Semibold",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px; }
  .main5 #inputs {
    margin: 60px 0 0 22%;
    width: 650px; }
    .main5 #inputs #inputimg {
      background: url("../img/inputimg.png") no-repeat;
      position: absolute;
      margin: 2.5px 0 0 1px;
      height: 48px;
      width: 48px; }
    .main5 #inputs input {
      width: 237px;
      height: 47px;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: #c6c6c6;
      padding-left: 63px;
      color: #424242;
      font-family: "Myriad Pro", sans-serif;
      font-size: 18px;
      font-weight: 400; }
    .main5 #inputs button {
      width: 300px;
      height: 46px;
      border-radius: 10px;
      background-color: #9da3d7;
      border: none;
      outline: none;
      color: #ffffff;
      font-family: "Myriad Pro", sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-left: 20px; }

footer.footer {
  background-color: #767676;
  padding: 50px 0;
  margin: 0 auto; }
  footer.footer h3 {
    width: 1000px;
    margin: 0 auto;
    color: #fffefe;
    font-family: "Myriad Pro", sans-serif;
    font-size: 24px;
    font-weight: 400; }

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }
  .modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999; }
    .modal .modal_content .close_modal_window {
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer; }
